# Databáze
DB_PASSWORD=strongpassword123

# Payload CMS
PAYLOAD_SECRET=your-64-char-random-secret

# Stripe
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_...
STRIPE_SECRET_KEY=sk_test_...

# Doména (použito v next.config a stripe)
NEXT_PUBLIC_SITE_URL=https://www.radimkocian.cz
